body {
    background-color: rgb(238, 215, 238);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.header {
    color: rgb(13, 87, 92);
    font-size: 44px;
    margin-left: 25px;
    max-width: 960px;
}


.header-sec {
    color: rgb(13, 87, 92);
    font-size: 36px;
    max-width: 960px;
}

.title-cards {
    color: rgb(13, 87, 92);
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 25px;
    margin: 0 auto;
    max-width: 960px;
    height: 250px;
    opacity: .85;
}

.skills {
    font-size: 24px;
    border-radius: .25rem;
    padding: 85px;
}
.projects {

    font-size: 24px;
    border-radius: .25rem;
    padding: 85px;
}

.current {

    font-size: 24px;
    border-radius: .25rem;
    padding: 85px;
}

.nav-bar {
    font-size: 24px;
    display: flex;
    text-decoration: underline;
    flex-direction: column;
    margin-left: 85%;
    list-style: none;
    padding: 5px; 
}

.git {
    display: flex;
    padding: 5px;
}

.linkedin {
    display: flex;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(13, 87, 92);
}

a:visited {
    color: rgb(13, 87, 92);
}

a:focus {
    color: rgb(13, 87, 92);
}

a:hover {
    color: rgb(180, 102, 180);
}

a:active {
    color: rgb(13, 87, 92);
}

.footer {
    text-align: center;
    font-size: 24px;
    padding-top: 12%;
    margin-bottom: 2px;
    text-decoration: underline;
}
